.App-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $mq-tablet;
  margin: auto;
  padding: 0 20px;

  .App-listing-item-wrapper {
    box-shadow: $box-shadow-property-card;
    width: 44%;
    min-width: 300px;
    background: $property-card-background-color;
    margin: 15px 0;
    cursor: pointer;
    height: 100px;
    border-radius: $border-radius;
    text-align: left;
    padding: 15px;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      box-shadow: $box-shadow-property-card-hover;
      margin-top: 10px;
    }

    .listing-item-name {
      margin: 0;
    }
    .listing-item-url {

    }
    .fa {
      &.fa-pencil {

      }

      &.fa-trash-o {

      }
    }
  }
}